<div class="container">
    <div class="card">
        <div class="card-title">
            <span *ngIf="user">Delete Admin</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">Id</div>
                <div class="col-md-5">{{user.id}}</div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">Name</div>
                <div class="col-md-5">{{user.name}}</div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">Email</div>
                <div class="col-md-5">{{user.email}}</div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">Mobile Number</div>
                <div class="col-md-5">{{user.mobileNumber}}</div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">Status</div>
                <div class="col-md-5">{{user.status}}</div>
            </div>

            <div style="float: right;padding: 5px;"> 
                <button type="submit" (click)="deleteAdmin(user.id)" class="btn btn-primary">Delete <i
                        class="fab fa-telegram-plane"></i></button>
            </div>
        </div>
    </div>
</div>