<div>
    <div class="card-title">
        Admin List
    </div>
    <div class="container-fluid" *ngIf="users">
        <table class="table-hover" id="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact No</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.mobileNumber}}</td>
                    <td>
                        <a [routerLink]="['./../view-admin/',user.id]" type="button" class="btn btn-primary mr-1"><i class="far fa-eye"></i>View</a>
                        <button [routerLink]="['./../edit-admin/',user.id]" type="button" class="btn btn-secondary mr-1"><i class="fas fa-edit"></i>Edit</button>
                        <button [routerLink]="['./../delete-admin/',user.id]" type="button" class="btn btn-danger mr-1"><i class="fas fa-trash-alt"></i>Delete</button>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container-fluid" *ngIf="!users">
            <p>0 Admins Found.</p>
        </div>
    </div>