.card-title{
    padding: 18px;
    font-size: x-large;
    text-transform: uppercase;
    background-color: #464d4e;
    color: azure;width: 100%;
}

btn-primary {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

#table{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background-color: transparent;
}

th, td{
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    padding: 15px;
  text-align: left;
}

tbody tr:hover {
    background-color: #acb2b8;
}