.navbar-light .navbar-nav .nav-link{
    color: var(--secondary-color);
}

.navbar-light .navbar-nav .nav-link.active-link{
    color: var(--primary-color);
}

#logo{
    border-radius: 50%;
    height: 55px;
    margin-left: 5px;
}