<div class="container mt-5 mb-5">
    <h1>Contact</h1>
    <form class="col-md-8">
        <div class="row">
            <div class="col-md-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter First Name" [(ngModel)]="contact.firstName" name="firstname">
            </div>
            <div class="col-md-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Last Name" [(ngModel)]="contact.lastName" name="lastname">
            </div>
            <div class="col-md-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Email Address" [(ngModel)]="contact.email" name="email">
            </div>
            <div class="col-md-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Enter Mobile" [(ngModel)]="contact.mobile" name="mobile">
            </div>
            <div class="col-md-12">
                <button class="btn btn-md btn-dark" (click)="createContact()">Submit</button>
            </div>
        </div>
    </form>
</div>