.buyBtn{
    /* margin-top: 2px; */
    text-decoration: none;
    background-color: var(--primary-color);
    color: #000;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

h1{
    font-size:20px;
}