<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4" *ngFor="let food of foodData">
            <div class="foodBox mt-3 mb-3">
                <img src="{{food.foodImg}}" width="100%" height="100%"/>
                <h1>{{food.foodName}}</h1>
                <p>{{food.foodDetails}}</p>
                <p>{{food.price | currency:'INR'}}</p>
                <br>
                <a class="buyBtn" [routerLink]="['/menu',food.id]">Buy Now &nbsp;<i class="bi bi-bag"></i></a>
            </div>
        </div>
    </div>
</div>