<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6" *ngIf="menuData">
            <a routerLink="../../menu" class="btn btn-sm btn-dark mb-3">Back</a>
            <img src="{{menuData.foodImg}}">
            <h1>{{menuData.foodName}}</h1>
            <p>{{menuData.foodDetails}}</p>
            <p>{{menuData.price | currency:'INR'}}</p>
        </div>

        <div class="col-md-6">
            <h1>Enter Your Details</h1>
            <form>
                <input type="text" class="form-control" placeholder="Enter Your Full Name">
                <input type="text" class="form-control" placeholder="Enter Your Mobile">
                <textarea class="form-control" placeholder="Enter Your Address"></textarea>
                <button class="btn btn-md btn-dark mt-3">Place order</button>
            </form>
        </div>

    </div>
</div>