<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Signup</h1>
                    
                </div>
                <form [formGroup]="signupform" (ngSubmit)="signup()">
       
                    <div class="form-group mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input type="text" class="form-control" formControlName="name">
                        <span class="text-danger" *ngIf="signupform.controls['name'].touched && signupform.hasError('required','name')">Name is required</span>
                        
                    </div>

                    <div class="form-group mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" formControlName="email">
                        <span class="text-danger" *ngIf="signupform.controls['email'].touched && signupform.hasError('required','email')">Email is required</span>
                        <span class="text-danger" *ngIf="signupform.controls['email'].touched && signupform.hasError('email','email')">Email must be a valid email address</span>
                    
                    </div>

                    <div class="form-group mb-3">
                        <label for="exampleInputEmail1" class="form-label">Mobile Number</label>
                        <input type="text" class="form-control" formControlName="mobileNumber">
                        <span class="text-danger" *ngIf="signupform.controls['mobileNumber'].touched && signupform.hasError('required','mobileNumber')">Mobile Number is required</span>
                    </div>

                    <div class="form-group mb-3">
                        <label for="exampleInputEmail1" class="form-label">Password</label>
                        <input type="text" class="form-control" formControlName="password">
                        <span class="text-danger" *ngIf="signupform.controls['password'].touched && signupform.hasError('required','password')">Password is required</span>
                    </div>

                    <div class="form-group mb-3" style="display: none;">
                        <label for="exampleInputEmail1" class="form-label">Status</label>
                        <select formControlName="status" id="" class="form-control" >
                            <option value="1" selected>Active</option>
                            <option value="0">Inactive</option>
                        </select>
                        
                    </div>


                    <div style="float: right;padding: 5px;"> 
                        <button type="submit" [disabled]="!signupform.valid" class="btn btn-primary">Submit <i
                                class="fab fa-telegram-plane"></i></button>
                    </div>

                </form>
                <a style="color: aliceblue;margin-top: 10px;" routerLink="/login">Already registered? Click to Login!</a>
            </div>
        </div>
    </div>
</div>