<div class="container mt-5 mb-5">
    
    <h1 class="text-center">About</h1>
    <p>
        Dogs are carnivorous, meaning the primary component of their diet should
        be meat. But they aren’t obligate carnivores—or only meat-eating. In the
        wild, dogs survive mainly off of prey animals and some seasonal
        vegetables. Wild dogs will also occasionally eat fruits. When you’re
        deciding on your dog’s diet, it should primarily revolve around these
        food items.
        <br>
        Dogs require a wide range of nutrients in different quantities over the
        course of their lives. The nutritional needs of a puppy are different
        from an adult dog, which is why it is a good idea to feed a puppy
        formula or an “all life stages” food to your young dog. If you are
        unsure about the differences in nutritional requirements between puppies
        and adults, the Merck Veterinary Manual lists the recommended nutrients
        for dogs, along with the recommended amount by weight and age. Large
        breed dogs and puppies have different nutritional requirements than
        small breed dogs and puppies.
        <br>
        There are plenty of dog food myths and misinformation about dog
        nutrition on the Internet. You can sort through it by following one
        simple rule: check your sources. Many well-meaning individuals make
        claims about dog nutrition without backing them up with scientific
        evidence. As you do research, always check to see if the information is
        supported by a credible source, like a veterinarian, canine
        nutritionist, or scientific study. It never hurts to be skeptical,
        either. If it sounds too good to be true, it probably is.
        <br>
        Many people have questions about grain-inclusive or grain-free dog food,
        pea-free dog food, or dog foods containing animal byproducts. If your
        dog has been diagnosed with a food allergy caused by grains, you may
        choose a grain-free diet under the guidance of your veterinarian. For
        most dogs, grains are actually a source of wholesome nutrients. Quality
        animal byproducts are also nutritious. These include organ meats and
        entrails, which often contain more nutrients than the muscle meat
        consumed by humans. Regulated byproducts do not include hooves, hair,
        floor sweepings, intestinal contents, or manure. As with any pet-related
        inquiry, feel free to discuss your concerns about your dog’s food with
        your veterinarian.
    </p>

</div>