#logo{
    border-radius: 50%;
    height: 55px;
    margin-left: 5px;
}

.logo-text{
    font-weight: 600;
}

.logout{
    /* float: right; */
    padding-right: 20px;
    cursor: pointer;
    font-weight: 600;
}

.logout:hover{
    /* float: right; */
    background-color: cadetblue;
    padding:15px 20px;
    border-radius: 5px;
}