.foodBox{
    padding: 10px 5px;
}

.foodBox img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.foodBox h1{
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}