<div class="container">
    <div class="card">
        <div class="card-title">
            <span *ngIf="user">Edit Admin</span>
            <span *ngIf="!user">Create Admin</span>
        </div>
        <div class="card-body">
            <form [formGroup]="adminUserForm" (ngSubmit)="update()">
                <div class="form-group mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" class="form-control"
                        formControlName="name">
                    <span class="text-danger"
                        *ngIf="adminUserForm.controls['name'].touched &&
                        adminUserForm.hasError('required','name')">Name is
                        required</span>

                </div>

                <div class="form-group mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email</label>
                    <input type="email" class="form-control"
                        formControlName="email">
                    <span class="text-danger"
                        *ngIf="adminUserForm.controls['email'].touched &&
                        adminUserForm.hasError('required','email')">Email is
                        required</span>
                    <span class="text-danger"
                        *ngIf="adminUserForm.controls['email'].touched &&
                        adminUserForm.hasError('email','email')">Email must be a
                        valid email address</span>

                </div>

                <div class="form-group mb-3">
                    <label for="exampleInputEmail1" class="form-label">Mobile
                        Number</label>
                    <input type="text" class="form-control"
                        formControlName="mobileNumber">
                    <span class="text-danger"
                        *ngIf="adminUserForm.controls['mobileNumber'].touched &&
                        adminUserForm.hasError('required','mobileNumber')">Mobile
                        Number is required</span>
                </div>

                <div class="form-group mb-3">
                    <label for="exampleInputEmail1" class="form-label">Password</label>
                    <input type="text" class="form-control"
                        formControlName="password">
                    <span class="text-danger"
                        *ngIf="adminUserForm.controls['password'].touched &&
                        adminUserForm.hasError('required','password')">Password
                        is required</span>
                </div>

                <div class="form-group mb-3">
                    <label for="exampleInputEmail1" class="form-label">Status</label>
                    <select formControlName="status" id="" class="form-control">
                        <option value="1" selected>Active</option>
                        <option value="0">Inactive</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="exampleInputEmail1" class="form-label">Image</label>
                    <input type="file" class="form-control"
                        (change)="onFileChanged($event)"
                        >
                    <span style="font-weight: bold; color:green;"
                        *ngIf="progress>0 && progress<100">
                            {{progress}}%
                        </span>
                        <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                        <div class="profile_pic">
                            <img [src]="url" class="image">
                        </div>
                        <!-- <div><img [src]="urluploded"  height="200px"></div> -->
                        <!-- <span class="text-danger"
                        *ngIf="adminUserForm.controls['profilePic'].touched &&
                        adminUserForm.hasError('required','profilePic')">Profile
                        Pic is required</span> -->
                    </div>
<input type="button" value="click" (click)="removeImage()" [disabled]="url==''">

                    <div style="float: right;padding: 5px;">
                        <button type="submit" [disabled]="!adminUserForm.valid"
                            class="btn btn-primary">Submit <i
                                class="fab fa-telegram-plane"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>