.container{
    width: 100%;
    height: 100%;
}

.card-title{
    padding: 18px;
    font-size: x-large;
    text-transform: uppercase;
    background-color: #464d4e;
    color: azure;
}

.card{
    padding: 28px;
    background-color: #f4f2f7;
}

.profile_pic{
    left: 50%;
    text-align: center;
   
}

.image{
    border: 5px solid #555;
    height:150px;
    margin: 5px;
}