<div class="container-fluid footer mt-5">
    <div class="row">

        <div class="col-md-4 mt-3 mb-3">
            <h1>Doggy Meals</h1>
            <p>Hansi Erandika</p>
        </div>

        <div class="col-md-4 mt-3 mb-3">
            <a routerLink="">Home</a>
            <a routerLink="menu">Food</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>

        <div class="col-md-4 mt-3 mb-3">
            <a href="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="#" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>