<!-- <app-admin-header></app-admin-header>
<app-sidebar></app-sidebar>
<router-outlet></router-outlet> -->


<div style="top: 0;" class="hold-transition sidebar-mini layout-fixed">

    <div class="wrapper">

        <!-- <div class="preloader flex-column justify-content-center -->
        <!-- <div class="flex-column justify-content-center
            align-items-center">
            <img class="animation__shake" src="assets/img/AdminLTELogo.png"
                alt="AdminLTELogo" height="60" width="60">
        </div> -->

        <app-admin-header></app-admin-header>

       
        <app-sidebar></app-sidebar>


        <div class="content-wrapper">

            
           <router-outlet></router-outlet>


        </div>

        <app-admin-footer></app-admin-footer>

        <aside class="control-sidebar control-sidebar-dark">

        </aside>

    </div>

</div>


<script>
    $.widget.bridge('uibutton', $.ui.button)
  </script>