
<div class="banner">
    <div class="banner-content">
        <h1 class="mb-5">Yummy Dog Food <br> At Your Door.</h1>
        <a routerLink="menu">Order Now <i class="bi bi-arrow-right-circle-fill"></i></a>
    </div>
</div>
<div class="container mt-5 mb-5">
    <h1 class="text-center stepHeader">How to get yummy food</h1>
    <div class="row mt-5">
        <div class="col-md-4 mt-2">
            <div class="stepBox">
                <h1>1</h1>
                <p>select food</p>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="stepBox">
                <h1>2</h1>
            <p>fill the details</p>
            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="stepBox">
                <h1>3</h1>
            <p>order will deliver</p>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4 mb-4" >
    <h1 class="text-center stepHeader">Favourite Foods</h1>
    <div class="row">
        <div class="col-lg-3 mt-3" *ngFor="let food of foodData;index as i">
            <div class="foodBox" *ngIf="i<=3">
                <div id="itembox">
                <img src="{{food.foodImg}}" width="100%" height="100%"/>
                <div class="foodInformation">

                    <h1 class="foodHeader">{{food.foodName}}</h1>
                    <p>{{food.price | currency:'INR'}}</p>
                </div>
            </div>
            </div>
        </div>
    </div>
    <a routerLink="menu" class="viewmoreBtn">view more <i class="bi bi-arrow-right-circle-fill"></i></a>
</div>

<div class="container mt-4 mb-4">
    <h1 class="text-center stepHeader">Favourite Foods</h1>
    <div class="row">
        <div class="col-lg-3 mt-3" *ngFor="let food of foodData;index as i">
            <div class="foodBox" *ngIf="i<=3">
                <img src="{{food.foodImg}}" width="100%" height="100%"/>
                <h1 class="foodHeader">{{food.foodName}}</h1>
                <p>{{food.price | currency:'INR'}}</p>
            </div>
        </div>
    </div>
    <a routerLink="menu" class="viewmoreBtn">view more <i class="bi bi-arrow-right-circle-fill"></i></a>
</div>