.banner{
    background-image: url('../../../assets/img/dogFood.jpg');
    height: 715px;
    background-position: center top;
    background-size: cover;
}

.banner h1{
    color: #fff;
    font-size: 60px;
    font-weight: bold;  
}

.banner-content{
    top: 30%;
    left: 20%;
    position: absolute;
}

.banner a{
    text-decoration: none;
    background-color: #fff;
    color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 5px;
}

.banner a:hover{
    background-color: var(--primary-color);
    color: #fff;
}

.stepBox{
    background-color: #000;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
}

.stepHeader{
    text-decoration: underline;
    color: var(--primary-color);
}

.stepBox h1{
    font-size: 50px;
    font-weight: bold;
    color: var(--primary-color);
}

.stepBox p{
    font-size: 20px;
    color: #fff;
}

.viewmoreBtn{
    text-decoration: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 18px;
}

.foodHeader{
    font-size: 24px;
}

#itembox{
    background-color: cornflowerblue;
    padding: 5px;
}

.foodInformation{
    height: max-content;
}

@media screen and (max-width:600px){
    .banner{
        height: 700px;
    }
}