.card{
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 5%;
    left: 100%;
    transform: translate(-50%,50%);
    background-color: rgb(55, 56, 74);
}

.card h1{
color: #fff;
}

label{
    color: #fff;
}