<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
       
                    <div class="form-group mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" formControlName="email">
                        <span class="text-danger" *ngIf="loginForm.controls['email'].touched && loginForm.hasError('required','email')">Email is required</span>
                        <span class="text-danger" *ngIf="loginForm.controls['email'].touched && loginForm.hasError('email','email')">Email must be a valid email address</span>
                    </div>

                    <div class="form-group mb-3">
                        <label for="exampleInputEmail1" class="form-label">Password</label>
                        <input type="text" class="form-control" formControlName="password">
                        <span class="text-danger" *ngIf="loginForm.controls['password'].touched && loginForm.hasError('required','password')">Password is required</span>
                    </div>

                    <div style="float: right;padding: 5px;"> 
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Submit <i
                                class="fab fa-telegram-plane"></i></button>
                    </div>

                </form>
                <a style="color: aliceblue;margin-top: 10px;" routerLink="/signup">New user? Click to signup!</a>
            
            </div>
        </div>
    </div>
</div>