<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <div class="sidebar">

        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets/img/user2-160x160.jpg" class="img-circle
                    elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a class="d-block">{{user}}</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview" role="menu"
                data-accordion="false">


                <li class="nav-item">
                    <a routerLink="dashboard" class="nav-link"
                        routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{exact:true}">
                        <i class="nav-icon fa fa-home"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <br>
                <li class="nav-item">
                    <a class="nav-link" (click)="changeAdminArrow()">
                        <i class="nav-icon fa fa-user-secret"></i>
                        <p>
                            Admins
                            <i style="float: right;" *ngIf="!adminArrow"
                                class="fa fa-arrow-right" aria-hidden="true"></i>
                            <i style="float: right;" *ngIf="adminArrow"
                                class="fa fa-arrow-down" aria-hidden="true"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="view-all-admin"
                                routerLinkActive="active-link"
                                class="nav-link sub-item">

                                <p>All Admins</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="create-admin"
                                routerLinkActive="active-link"
                                class="nav-link sub-item">

                                <p>Create Admin</p>
                            </a>
                        </li>

                    </ul>
                </li>
                <br>
                <li class="nav-item">
                    <a class="nav-link" (click)="changeCategoryArrow()">
                        <i class="nav-icon fas fa-layer-group"></i>
                        <p>
                            Category
                            <i style="float: right;" *ngIf="!categoryArrow"
                                class="fa fa-arrow-right" aria-hidden="true"></i>
                            <i style="float: right;" *ngIf="categoryArrow"
                                class="fa fa-arrow-down" aria-hidden="true"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item sub-item">
                            <a routerLink="signup"
                                routerLinkActive="active-link"
                                class="nav-link">

                                <p>All Admins</p>
                            </a>
                        </li>
                        <li class="nav-item sub-item">
                            <a routerLink="signup"
                                routerLinkActive="active-link"
                                class="nav-link">

                                <p>Create Admin</p>
                            </a>
                        </li>

                    </ul>
                </li>

                <br>
                <li class="nav-item">
                    <a class="nav-link" (click)="changeProductArrow()">

                        <i class="nav-icon fas fa-bone"></i>
                        <p>
                            Product
                            <i style="float: right;" *ngIf="!productArrow"
                                class="fa fa-arrow-right" aria-hidden="true"></i>
                            <i style="float: right;" *ngIf="productArrow"
                                class="fa fa-arrow-down" aria-hidden="true"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item sub-item">
                            <a routerLink="signup"
                                routerLinkActive="active-link"
                                class="nav-link">

                                <p>All Admins</p>
                            </a>
                        </li>
                        <li class="nav-item sub-item">
                            <a routerLink="signup"
                                routerLinkActive="active-link"
                                class="nav-link">

                                <p>Create Admin</p>
                            </a>
                        </li>

                    </ul>
                </li>






            </ul>
        </nav>

    </div>

</aside>
